@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@200;400;600;800&display=swap");

@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import "tailwindcss/screens.css";
@import "tailwindcss/variants.css";

@import "@s2h/ui/avatar/index.css";
@import "@s2h/ui/button/index.css";
@import "@s2h/ui/checkbox/index.css";
@import "@s2h/ui/flex/index.css";
@import "@s2h/ui/modal/index.css";
@import "@s2h/ui/radio/index.css";
@import "@s2h/ui/input-message/index.css";
@import "@s2h/ui/select/index.css";
@import "@s2h/ui/spinner/index.css";
@import "@s2h/ui/stack/index.css";
@import "@s2h/ui/text-input/index.css";

.king-yna-bg {
	background: #1a2a6c;
	background: -webkit-linear-gradient(to bottom, #fdbb2d, #b21f1f, #1a2a6c);
	background: linear-gradient(to bottom, #fdbb2d, #b21f1f, #1a2a6c);
}

.literature-bg {
	background-image: url("../assets/literature-bg.jpeg");
	background-size: cover;
}